<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= data.vacancy%></title>
</head>
<body>
  <%- include('header') %>
  <link rel="stylesheet" href="css/vacancy.css" />
<main>
  <span id="error"><%=data.error %></span>
  <h2><%= data.vacancy%></h2>
  <span class="salary"><%= data.salary %></span><br>
  <div id="company-info">
    <h3 class="company"><%= data.company %></h3>
    <img src="<%= data.companypfp %>" alt="<%= data.company %>">
  </div>
  <form action="/vacancy" method="POST">
    <input type="hidden" name="vacId" id="vacId" value="<%= data.id %>">
    <input type="hidden" name="usrId" id="usrId" value="<%= data.login %>">
    <input class="round-corners" name="respond" id="respond" type="submit" value="Откликнуться">
  </form>
  <h3>Описание</h3>
  <%- data.about %>
  <h3>Ключевые навыки</h3>
  <div id="keywords">
    <% if (data.keywords) for (let keyword of data.keywords){%>
      <span class="keyword round-corners"><%= keyword.keyword %></span>
    <%}%>
  </div>
</main>
</body>
</html>