<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Полученные данные</title>
  </head>
  <body>
    ФИО = <%= FIO %><br>
    Дата рождения = <%= BirthData %><br>
    Домашний адресс = <%= HomeAdress %><br>
    Таланты = <%= talent %><br>
    Возраст = <%= age %><br>
    Фото = <%= photo %><br>
    Телефон = <%= phone %><br>
    Почта = <%= mail %><br>
    Адресс ДК = <%= DKAdress %><br>
    Дата отбора = <%= dateCh %><br>
    Статус = <%= status %><br>
    Описание = <%= descr %><br>
  </body>
</html>